  <div id="design-upload-page">
    <div id="file-upload-form">
      <%= form_for @new_design, :url => :uploaded_callback, :html => {:multipart => true} do |f| %>
        <div id="file-select-zone">
          <div id="file-selector">
            [+] Click to select your photoshop file
          </div>
          <div id='file-input-enclosure'>
            <%= f.file_field :file, :id=>"design_file" %>
            <%= f.hidden_field :file_cache %>
          </div>
        </div>
        <button class="btn btn-large btn-success btn-block" type="submit"> Process </button>
      <% end %>
    </div>
  </div>