<div class="existing-user-message container center">
  <span class="message">
    Full page PSDs don't work well yet. Upload pieces of a page! &nbsp;&nbsp;
  </span>
  <a href="#" id="view-guidelines" class="">More Info &#187;</a>
  <%= render 'shared/tutorial' %>
  <script type="text/javascript">
    $('#view-guidelines').click(function () {
      $('#tutorial-wrap').modal();
      Analytical.event("view_tutorial", "familiar_user_widget");
    });
  </script>
</div>