<div class="existing-user-message container center">
  <span class="message">
    Markupwand has few limitations, currently. Please read before uploading -
  </span>
  <a href="/limitations" id="view-guidelines" class="">Limitations</a>
</div>