- content_for(:content) do
  .editor-controls   
    %div.edit-tags
      %form
        %div.tag-switch-block
          %label{:for => 'tag-switcher'} Switch Tag
          %select#tag-switcher
            %option --
            %option{:value => 'div'} DIV (Generic Container)
            %option{:value => 'li'} LI (List Item)
            %option{:value => 'input'} INPUT (Form Control)
            %option{:value => 'img'} IMG (Embedded Image)
      
        %div.xpath-block
          %label{:for => 'xpath'} XPath
          %value#item-xpath -
        
        %button.btn Save
    %div.grouptags
      %form
        %div.group-tags-block
        
        %button.btn Group nodes
    
    %div.multiselect Multiselect enabled  
  %div.ide  
    %iframe{:src => 'http://localhost/mailgun/index.html', :id => 'editor-iframe', :class => 'ide'}
  
- content_for(:javascript) do
  =javascript_include_tag 'editor' 