.editor-controls 
  %div.usage-info 
    %span.label.label-info Tip
    %span.msg Click elements in the page to modify them

  %h1 Editor  
    
%iframe{:src => '/assets/result.html', :width => '100%', :style => 'height:700px', :id => 'editor-iframe'}