<%= content_for :content do %>
<center style="padding-top: 150px">
  <div id="drop-div" class="drop">
      <h2 style="padding-top: 75px">Drag and drop your Photoshop file here!</h2>
  </div>
</center>
<% end %>

<%= content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function() {
    $("#drop-div").dropzone({
        url : "http://localhost:3000/design_files",
        printLogs : true,
    });
});
</script>
<% end %>