<%= content_for :content do %>
<div id="landing-page">
  <div class="container">
    <center>
      <img src="<%= asset_path 'logo.png' %>" /><br>
      <h1 color=>Magically convert Photoshop designs to valid html markup</h1>
    </center>

    <center style="padding-top: 150px">
      <div id="drop-div" class="drop">
        <h2 style="padding-top: 75px">Drag and drop your Photoshop file here!</h2>
      </div>
      <div id="progressbar" style="height: 22px">
      </div>
    </center>
    
  </div>
</div>
<% end %>

<%= content_for :javascript do %>
<%= javascript_include_tag "app/upload" %>
<% end %>
