<div class="google-login">
  <a class="btn btn-large btn-secondary" href="/users/auth/google_openid">
    <img src="/assets/google.png" width="18" height="18"/> <span style="line-height: 18px; vertical-align: middle; margin-left: 2px;">Sign in with Google</span>
  </a>
</div>