  <div class="request-invite-block">
    <form id="getinvite" action="getinvite" method="POST">
      <input name="email" class="prefilled-field default-value" id="invite-email" value="email@address.com"/><br/><br/>
      <input type="submit" class="action-button" value="Request Invite Now!"/>

      <div id="validation-result" class="error"></div>
    </form>
  </div>
  <a href="login">Already have an account?</a>

<%= content_for :javascript do %>
  <script>
    $(document).ready(function () {
      validateEmail = function (email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        if (emailReg.test(email))
          return true;
        else
          return false;
      };

      $(".default-value").formDefaults();
      $("#getinvite").submit(function (e) {
        var valid = validateEmail($("#invite-email").val())
        if (valid) {
          return true;
        }
        else {
          e.preventDefault();
          $("#validation-result").text("Enter a valid E-mail address")
          return false;
        }
      });
    });
  </script>
<% end %>