<%= stylesheet_link_tag "app/admin", :media => "all" %>
<div id="admin-header" class="tabbable">
  <ul class="nav nav-pills">
    <li><a href="/admin/"> Admin home </a> </li>
  	<li><a href="/admin/su">Switch User</a></li>
  	<li><a href="/admin/download-psd">Download PSD</a></li>
  </ul>
</div>