<%= content_for :content do %>
<%= render 'shared/header' %>
<div id="designs-list-page" class="container admin-container">
  <%= form_tag('/admin/su', :class=> 'form-horizontal') do %>
    <fieldset>
      <legend>$ su <span class="cursor">|</span></legend>
      <div class="control-group">
        <div class="controls">
          <input type="text" class="input-xlarge" name="email">
          <button class="btn btn-danger" > <i class="icon-user"></i> Change user</button>
        </div>
        
      </div>
    </fieldset>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
  cursorAnimation = function() {
    $(".cursor").animate({opacity: 0}, 200, "swing").animate({opacity: 1}, 400).animate({opacity: 1}, 400).animate({opacity:0}, 200);
  }
  setInterval ( "cursorAnimation()", 1000 );
});
</script>
<% end %>