<%= content_for :content do %>
  <%= render 'shared/inner_header' %>
  <div class="container-fluid">
    <div class="row">
      <div id="upload-area" class="span5"> Upload section </div>
      <div id="designs-area" class="span7"> user designs section </div>
    </div>
  </div>
<% end %>