<%= render 'shared/luckyorange' %>
<%= render 'shared/olark' %>
<div id="footer">
  <div class="container">
    <div class="right">
      <a href="/"> Home</a> 
      <a href="http://www.twitter.com/markupwand">Twitter</a> 
      <a href="http://www.facebook.com/markupwand">Facebook</a>
    </div>
    <div class="left">
     © A Goyaka Labs product, 2012 &nbsp; &nbsp; 
    </div>
  </div>  
</div>