<div id="header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"> <img src="/assets/logo-small-monocolor.png"></a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            <a href="/"> Home </a>
          </li>
          <li class="active">
            <a href="/designs">Designs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>