<%
  # this is a stupid hack to set fluid to nil if fluid is not defined.
  fluid = fluid
  if fluid.nil?
    fluid = false
  end 
%>
<div id="header">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="logo pull-left">
        <% if current_user.nil? %>
        <a href="/"><img src="/assets/logo-small.png"></a>
        <% else %>
        <a href="/designs"><img src="/assets/logo-small.png"></a>
        <% end %>

      </div>
      <ul class="nav pull-right">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/pricing">Pricing</a></li> 
        
        <% if not current_user.nil? %>
        <li> 
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> 
              <img class="gravtar" src="<%= current_user.get_gravtar_image_url %>"> 
              Hi, <%= current_user.get_display_name %>! <b class="caret"></b>
            </a> 
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li> <a href="/pricing"> Plan: <%= current_user.plan %> </a> </li>
              <li> <a href="/designs"> Dashboard </a> </li>
              <li class="divider"></li>
              <li> <a href="/logout">Log out </a> </li>
            </ul>
          </div>
        </li>
        <% else %>
        <li><a href="/login" class="login">Login</a></li>
        <% end %>
        

      </ul>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>