<div id="landing-header" class="navbar navbar-fixed-top">
      <div class="row container">
        <a class="" href="/"> <%= image_tag "logo-small.png" %></a>

        <div class="pull-right">
          <div class="login-signup btn-group">
            <a href="/login" class="btn btn-secondary">Login</a>
            <a href="/signup" class="btn btn-primary ">Sign Up</a>
          </div>
        </div>


        <ul class="pull-right nav">
          <li><a href="/about">About</a></li>
          <li><a href="/faq">FAQ</a> </li>
        </ul>

      </div>
</div>