<script id="edit-grid-properties-template" type="text/template">
<%% 
if(!_.isNull(css) && !_.isUndefined(css)) 
var css_properties = css;
_.each(css_properties, function(value, property){ %>
  <div class="row span4"> 
    <div class="span2"> <%%= property %> </div>
    <div class="span1"> <%%= value %> </div>
    <div class="clearfix"> </div>
  </div>
<%% }); %>
</script>

<script id="editor-header-template" type="text/template">
<div id="header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action right">
      <a href="" id="update-markup" class="action-button-small"> Update Markup </a>
    </div>
  </div>
  <div class = "clearfix"> </div>
</script>