<script id="grouping-left-sidebar-template" type="text/template">
  <div id="grouping-tree"></div>
</script>

<script id="grouping-top-bar-template" type="text/template">
  <div id="group-layers" class="btn btn-primary disabled"> Group these layers </div>
</script>

<script id="grouping-context-area-template" type="text/template">
  <a id="done" class="btn btn-small btn-primary"> Done </a>
  <a id="cancel" class="btn btn-small"> Cancel </a>
</script>

<!-- Intersections Templates -->
<script id="no-intersections" type="text/template">
<div id="intersections-sidebar">
  <h1> Resolve Intersections </h1>
  No intersections available
</div>
</script>

<script id="intersections-sidebar" type="text/template">
<div id="intersections-sidebar">

  <h1> Resolve Intersections </h1>
<div id="intersections-list">
</div>
</div>
</script>
<script id="intersection-item" type="text/template">
  <div class="intersection-item" data-left-uid="{{ left_uid }}" data-right-uid="{{ right_uid }}">
  <div class="top-head-item">{{ left_layer }} ∩ {{ right_layer }}</div>
    <table class="actions">
      <tr data-layer-uid="{{ left_uid }}"><td class="layer-item">{{ left_layer }}</td><td><img class="remove-layer" width="24" src="/assets/remove.png"></td></tr>
      <tr data-layer-uid="{{ right_uid }}"><td class="layer-item">{{ right_layer }}</td><td><img class="remove-layer" width="24" src="/assets/remove.png"></td></tr>
    </table>
  </div>
</script>