<script id="grouping-left-sidebar-template" type="text/template">
  <div id="action-panel"> 
    <a id="ad-new-grouping-box" href="#" class="btn btn-primary"> Add new grouping box </a>
  </div>
  <div id="grouping-tree"></div>
</script>