<script id="edit-grid-properties-template" type="text/template">
<%% 
if(!_.isNull(css) && !_.isUndefined(css)) 
var css_properties = css;
_.each(css_properties, function(value, property){ %>
  <div class="row span4"> 
    <div class="span2"> <%%= property %> </div>
    <div class="span1"> <%%= value %> </div>
    <div class="clearfix"> </div>
  </div>
<%% }); %>
</script>

<script id="editor-header-template" type="text/template">
<div id="editor-header" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="action right">
      <a href="" id="update-markup" class="action-button-small"> Update Markup </a>
    </div>
    <div class="action row left">
      <div class="name span2"><small> Design: </small><%%= name %> </div>
      <div class="layers span1"> <%%= layers.length %> layers </div>
    </div>
  </div>
  <div class = "clearfix"> </div>
</script>

<script id="css-property-template" type="text/template">
<div class="css-style">
  <span class="key"> <%%= key %> </span>:  <span class="value"> <%%= value %> </span>
</div>
</script>

<script id="focus-bar-template" type="text/template">
<div class='right'> 
  <button id='done' class='btn btn-large btn-success'> Done </button>
  <button id='cancel' class='btn btn-large btn-failure'> Cancel </button>
</div>
</script>
