<%= stylesheet_link_tag "app/tutorial", :media => "all" %>
<%= stylesheet_link_tag 'app/tutorial-ui-tabs', :media => "all" %>
<div id="tutorial-wrap" class="modal hide">

  <div id="tabs">
    <div class="ui-widget-header">
    <ul>
      <li><a href="#instruction-1">1</a></li>
      <li><a href="#instruction-2">2</a></li>
      <li><a href="#instruction-3">3</a></li>
      <li><a href="#instruction-4">4</a></li>
      <li><a href="#instruction-5">5</a></li>
    </ul>
    </div>

    <div id="instruction-1" class="instruction ui-tabs-panel">
      <div class="row instruction-heading">

        <div class="pull-left instruction-title">
          Break your page into smaller pieces
        </div>
      </div>

      <div class="row instruction-description">
        <div class="pull-left instruction-description-text">
          Markupwand gives good quality code for pieces of a page. The smaller the pieces, the better.
          <br/>
          <br/>
          Break your page into multiple photoshop files, each containing one logical piece .
          Generate code for each piece - one by one.
        </div>
      </div>

      <div class="row instruction-illustration">
        <div class="pull-left">
          <img class="" src="./assets/illustration-break-page.png">
        </div>
      </div>
    </div>
    <div id="instruction-2" class="instruction ui-tabs-panel ui-tabs-hide">
      <div class="row instruction-heading">

        <div class="pull-left instruction-title">
          Use different text elements for logically different text
        </div>
      </div>

      <div class="row instruction-description">
        <div class="pull-left instruction-description-text">
          For list items and navigation links, use one text element per item.
        </div>
      </div>

      <div class="row instruction-illustration">
        <div class="illustration-container1">
          <div class="row illustration-row">
            <img class="pull-left illustration-row-image" src="./assets/illustration-text-right.png"><img class="pull-left illustration-right-wrong" src="./assets/tick.png">
          </div>

          <div class="row illustration-row">
            <img class="pull-left illustration-row-image" src="./assets/illustration-text-wrong.png"><img class="pull-left illustration-right-wrong" src="./assets/error.png">
          </div>
        </div>
      </div>
    </div>
    <div id="instruction-3" class="instruction ui-tabs-panel ui-tabs-hide">
      <div class="row instruction-heading">

        <div class="pull-left instruction-title">
          Each icon or image should be a single layer in PSD
        </div>
      </div>

      <div class="row instruction-description">
        <div class="pull-left instruction-description-text">
          If you design an icon or an image in Photoshop, you might have designed it using multiple layers. If you would want it to come out as one image in HTML, please merge the layers together.
        </div>
      </div>

      <div class="row instruction-illustration">
        <div class="pull-left">
          <img class="" src="./assets/illustration-merge-layers.png">
        </div>
      </div>
    </div>
    <div id="instruction-4" class="instruction ui-tabs-panel ui-tabs-hide">
      <div class="row instruction-heading">

        <div class="pull-left instruction-title">
          Want CSS buttons? Use shapes; not images.
        </div>
      </div>

      <div class="row instruction-description">
        <div class="pull-left instruction-description-text">
          If you use a standard shape - such as rectangle or rounded rectangle, Markupwand would give you CSS code. If you use images, you would get images.
          <br/>
          <br/>
          Draw buttons using shapes instead of images, to get CSS buttons.
        </div>
      </div>

      <div class="row instruction-illustration">
        <div class="illustration-container2">
          <div class="row illustration-row">
            <img class="pull-left illustration-row-image" src="./assets/illustration-shapes-right.png"><img class="pull-left illustration-right-wrong" src="./assets/tick.png">
          </div>

          <div class="row illustration-row">
            <img class="pull-left illustration-row-image" src="./assets/illustration-shapes-wrong.png"><img class="pull-left illustration-right-wrong" src="./assets/error.png">
          </div>
        </div>
      </div>
    </div>
    <div id="instruction-5" class="instruction ui-tabs-panel ui-tabs-hide">
      <div class="row instruction-heading">

        <div class="pull-left instruction-title">
          Avoid hacks
        </div>
      </div>

      <div class="row instruction-description">
        <div class="pull-left instruction-description-text">
          Designers sometimes do hacks to get effects. Examples include:
          <br>
          1. Positioning a gray colored copy of a layer just below the layer, to get shadow effect
          <br/>
          2. Hiding part of a layer below another layer instead of resizing it.
          <br/>
          <br/>
          Please avoid such hacks to get good quality code.
        </div>
      </div>
    </div>

  </div>

</div>