<% content_for :content do %>
  <%= render 'shared/header' %>
  <%= render 'shared/tutorial' %>
  <div class="container">
    <div class="before-start">
      Before you start,
    </div>
    <div class="tips-headline">
      5 Tips to get good quality code
    </div>

    <a class="start-using-button" href="/design/new">
        Start Using!
    </a>
    <div class="clearfix"></div>
    <div class="gauth-reason">
      (Converting PSD to HTML would take about 10 mins. Please provide Google Auth in the next step, so that we could notify you when the conversion is done)
    </div>
    <div class="clearfix" style="margin-bottom: 50px"></div>
  </div>
<% end %>