<%= content_for :content do %>
<%= render 'shared/inner_header' %>
<div class="container"> 
<article>
  <section class="main-box">
    <div class="aboutus">
  		<h2>About Us</h2>
  		<div>
  		  	<p>
    				<strong><a href="http://news.ycombinator.com/user?id=alagu"> Alagu </a></strong> Built an internal twitter at Yahoo!(shout). Wrote software for helping World Bank fund Indian Institutes (NPIU). Previously, Hacker/Engineer at Yahoo!, Zynga and Interviewstreet. <span class="networks">(<a href="http://twitter.com/alagu">twitter</a> . <a href="http://facebook.com/alagu">facebook</a> . <a href="http://github.com/alagu">github</a>)</span>
    			</p>
  			<p>
  				<strong><a href="http://news.ycombinator.com/user?id=haxplorer">Rajagopal</a></strong> Wrote the public transit system for Yahoo! India Maps. Google Summer of Code student. Previously, Product Manager at Myntra, Engineer at Zynga and Yahoo!. <span class="networks">(<a href="http://twitter.com/haxplorer">twitter</a> . <a href="http://facebook.com/haxplorer">facebook</a> . <a href="http://github.com/haxplorer">github</a>)</span>
  			</p> 
			
  			<p>
  				<strong><a href="http://news.ycombinator.com/user?id=suren">Suren</a></strong>  Built his own <a href="https://github.com/surenm/codechecker"> codechecker </a>. Systems Geek.  Previously, Hacker/Engineer at Yahoo! and Interviewstreet. Has committed to LibreOffice. <span class="networks">(<a href="http://twitter.com/suren">twitter</a> . <a href="http://facebook.com/suren.mahe">facebook</a> . <a href="http://github.com/suren">github</a>)</span>
  			</p>
			
  		</div>
  	</div>
    
    <div class="ycombinator">
      <h2>
      We are funded by <a href="http://ycombinator.com/"> <img src="/assets/yc.png"> </a> as one of their Summer 2012 batch startups.
      </h2>
      
      <h2>
        Here is the <a href="http://news.ycombinator.com/item?id=4283896"> discussion </a> when we first launched  Markupwand on <a href="http://news.ycombinator.com"> Hacker News </a>
      </h2>
      <div style="margin: 50px"> </div>
    </div>
    
    
	
	  <div class="pet-projects">
  		<h2>Our Pet Projects</h2>
  		<p>
  		  <strong><a href="https://export.goyaka.com"> UnifyPhotos</a></strong>
  			Helps you to move your photos from Flickr/Picasa to Facebook. Moved more than a million photos. <span class="networks">(
  				<a href="http://export.goyaka.com">unifyphotos</a> . 
  				<a href="http://github.com/goyaka/Flickr2Facebook">code</a>. 
  				<a href="zdnet.com/blog/facebook/how-to-move-your-flickr-photos-to-facebook/6611">p</a>.
  				<a href="gigaom.com/2011/12/29/goyaka-helps-flickr-photo-fans-flock-to-facebook/">r</a>.
  				<a href="thenextweb.com/apps/2011/12/27/easily-migrate-your-flickr-photos-to-facebook-with-unifyphotos/">e</a>.
  				<a href="http://www.thegeeksclub.com/unify-photos-migrate-flickr-photos-facebook-timeline">s</a>.
  				<a href="http://www.newtripod.com/move-photos-flickr-facebook-goyaka/">s</a>)</span>
  		</p>
		
  		<p>
        <strong> <a href="https://www.facebook.com/groups/goyakaradios/">Goyaka Radios</a></strong> A community of South Indian people (mostly tamil) who share songs that they love. The people here are amazing, they really love music and share interesting tidbits about the songs and singers. We built a Hackernews-style wrapper over it <span class="networks"> (<a href="http://radios.goyaka.com/">Goyaka Radios</a> . <a href="http://github.com/goyaka/GoyakaRadios">code</a>) </span>
  		</p>
		
  		<p>
  			<strong><a href="http://chrome.google.com/webstore/detail/almdggoleggeecgelbjekpmefpohdjck">PNR Status Watchlist</a></strong> Helps you track all your IRCTC (Indian Railways) tickets in one click. Small and useful Google Chrome extension. Notifies you about the ticket status as well. 63 people have rated 4.5 stars on Chrome webstore <span class="networks"> (<a href="http://chrome.google.com/webstore/detail/almdggoleggeecgelbjekpmefpohdjck">PNR Status Watchlist</a> . <a href="https://github.com/alagu/pnr-chrome-extension/">code</a>) </span>
  		</p>
		
		
  		<p>
        <strong><a href="http://pnrapi.alagu.net/">PNR API</a></strong> Developer friendly API to query Indian Railways PNR Status. Used to build the PNR Chrome extension and <a href="https://github.com/Goyaka/TrainCard">PNR Android App</a>.  <span class="networks"> (<a href="http://pnrapi.alagu.net/">PNR API</a> . <a href="https://github.com/alagu/pnrapi">code</a>) </span>
  		</p>
  	</div>
  </section>
</article>
</div>
<% end %>