<%= content_for :content do %>
<%= render 'shared/inner_header' %>
<div id="faq" class="container-narrow"> 

<h2>Frequently Asked Questions</h2>
<ol>
  <li> <strong> Why CSS:Markupwand? </strong>
  <p>
    We believe a developer's productive time shouldn't be spent that fighting their way through Photoshop to build web pages. That is what CSS:Markupwand tries to solve. 

    Upload your photoshop design and with a click you have your CSS styles ready for each layer. 
  </p>
  
  <li> <strong>But Why should I use CSS:Markupwand? </strong>
    <p>
    Unlike similar tools, CSS:Markupwand is completely web based. <b> We are trying to totally eliminating the need for Photoshop to a web developer. </b>
  </p>

</li>
<li>
  <strong>Why do you use SCSS/Compass and not &lt;insert favourite css framework&gt;?</strong>
  <p>It is just matter of initial choice. We are looking to use other major css frameworks soon.
  </p>
</li>

<li>
  <strong>As a webdeveloper, I still need Photoshop for doing X, Y, Z </strong>
  <p> Really? Let us fix that for you! <a href="mailto:suren@markupwand.com?Subject=Pricing for css:markupwand">
    Talk to us! </a> </p>
</li>

<li>
  <strong>CSS:Markupwand did not understand one/few of my designs properly. How do I remove them?</strong>
  <p> Oops! Sorry about that! Reach out to us via Live chat or mail us at <a href="mailto:suren@markupwand.com?Subject=Bad css:markupwand!">Support </a>! We will fix the problem for you and we will also add one extra design to your monthly quota </p>
</li>

</ol>

</div>
<% end %>
