<%= content_for :content do %>
  <div class="main-content">
    <%= render 'shared/header' %>
    <div class="container">
      <div class="message">
        <h1>Photoshop styles to CSS3</h1>
        <p class="lead">
          Completely web based &nbsp;&nbsp;●&nbsp;&nbsp;  No photoshop required  &nbsp;&nbsp;●&nbsp;&nbsp;  Completely Automatic
        </p>

        <a class="btn btn-large btn-success" href="/signup"> Try it now</a>
      </div>
      <div class="row-fluid marketing"></div>
    </div>
  </div>
<% end %>
