<%= content_for :content do %>
  <div class="main-content">
    <%= render 'shared/inner_header' %>
    <div class="container">
      <div class="message">
        <h1>Photoshop styles to CSS</h1>
        <p class="lead">
          Turn photoshop styles into CSS3 right in the browser
        </p>

        <a id="try-now" class="btn btn-large btn-success" href="/signup"> Try Now!</a>
      </div>
      
    </div>
  </div>
  <div class="container">
    <div class="row features">
      <div class="feature span3">
        <img src="/assets/no-ps.png" class="img-circle no-ps">
        <h3> No photoshop needed</h3>
        Completely web based, no longer need PS as web developer
      </div>
      <div class="feature span3">
        <img src="/assets/css3.png" class="img-circle css3">
        <h3>Generates CSS3 styles</h3>
        Translates layer effects into CSS3 using SCSS & Compass
      </div>
      <div class="feature span3"> 
        <img src="/assets/crop.png" class="img-circle crop">
        <h3> Extracts Image Assets  </h3>
        Automatically get web ready images from PSD file
      </div>
      <div class="feature span3">
        <img src="/assets/icon.png" class="img-circle scale">
        <h3> Measure pixels easily </h3>
        Writing pixel perfect CSS was never this easy!
      </div>
    </div>
  </div>
<% end %>
