<%= content_for :content do %>
<div class="container-narrow">
  <%= render 'shared/header' %>
  
    
  <div class="message">
    <h1>Photoshop styles to CSS3</h1>
    <p class="lead">
      Completely web based &nbsp;&nbsp;●&nbsp;&nbsp;  No photoshop required  &nbsp;&nbsp;●&nbsp;&nbsp;  Completely Automatic
    </p>

    <a class="btn btn-large btn-success" href="#"> Try it now</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="span6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>
  <hr>
</div>
<% end %>
