<%= content_for :content do %>
  <div class="main-content">
    <%= render 'shared/inner_header' %>
    <div class="container">
      <div class="message">
        <h1>Photoshop styles to CSS</h1>
        
        <p class="lead"> 
          <span class="badge badge-success"> 1 </span> Just upload your photoshop file <br>
          <span class="badge badge-success"> 2 </span> Instantly see CSS styles for corresponding photoshop layers! 
        </p>

        <% if current_user.nil? %>
          <a id="try-now" class="btn btn-large btn-success" href="/signup"> Try Now for FREE!</a>
        <% else %>
          <a id="try-now" class="btn btn-large btn-success" href="/designs"> Dashboard </a>
        <% end %>
      </div>
      
    </div>
  </div>

  <div class="container">

    <div class="screenshot" style="border: 2px solid #ccc; padding: 20px 0px; border-radius: 4px">
      <img src="/assets/screenshot.png">
    </div>
    <div class="row features">
      <div class="feature span3">
        <img src="/assets/no-ps.png" class="img-circle no-ps">
        <h3> Completely web based</h3>
        If you are a web developer, <br> you no longer need Photoshop.
      </div>
      <div class="feature span3">
        <img src="/assets/css3.png" class="img-circle css3">
        <h3>Extract CSS3 styles</h3>
        Translates layer effects into CSS3 <br> using SCSS & Compass.
      </div>
      <div class="feature span3"> 
        <img src="/assets/crop.png" class="img-circle crop">
        <h3> Image crop & download </h3>
        <div clas="detail"> Extract and manipulate web ready images from PSD file </div>
      </div>
      <div class="feature span3">
        <img src="/assets/icon.png" class="img-circle scale">
        <h3> Measure pixels easily </h3>
        Writing pixel perfect CSS styles <br> was never this easy!
      </div>
    </div>
    
  </div>

<% end %>
