<%= content_for :content do %>

<%= render 'shared/header' %>

<div id="pricing" class="colored">
  <h2> Pricing Plans </h2>
  <div class="plan">
    <div class="name"> Hatchback </div>
    <div class="price"> Free Forever </div>
    <div class="limit"> 2 designs per month</div>
    <a href="#" class="btn btn-large btn-success"> Signup for FREE </a> 
    <div><small><i> No credit card required </small></i></div>
  </div>
  <div class="plan">
    <div class="name"> Sedan </div>
    <div class="price"> <span class="value">$10</span>/month</div>
    <div class="limit"> 10 designs per month </span> </div>
    <a href="#" id="sedan" class="btn btn-large btn-success"> FREE for 30 days </a>
  </div>
  <div class="plan">
    <div class="name"> SUV</div>
    <div class="price"> <span class="value">$16</span>/month </div>
    <div class="limit"> Unlimited usage </div>
    <a href="#" id="sedan" class="btn btn-large btn-success"> FREE for 30 days</a>
  </div>
  <div class="clearfix"></div>
</div>

<% end %>