<%= content_for :content do %>
  <%= stylesheet_link_tag "app/login", :media => "all" %>
  <%= render 'shared/header_small' %>
  <div class="container-extra-narrow colored">
    <form class="form-signin">
      <input name="email" type="text" class="input-block-level" placeholder="Email address">
      <input name="password" type="password" class="input-block-level" placeholder="Password">
      <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      
      <center><button class="btn btn-large btn-success" type="submit">Sign up</button></center>
    </form>
    <div class="center"> Don't have an account? <a href="/signup"> Signup </a> for free! </a></div>
  </div> 
<% end %>