@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

#admin-header {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: Ubuntu;
}

.admin {
  ul {
    list-style-type: none;
  }

  li.design {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(4px);
    border: 1px solid #106AA3;
    box-shadow: inset 2px 2px 2px 2px #B2C7D5;
    padding: 5px 10px;
    margin: 10px;

    &.good {
      background-color: #A5E993;
      box-shadow: inset 2px 2px 2px 2px #A5E993;
    }

    &.bad {
      background-color: #DAA5A5;
      box-shadow: inset 2px 2px 2px 2px #DAA5A5;
    }
  

    .name {
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 5px;
      padding-bottom: 5px;     
    }

    .change-meta {
      margin-left: 0;

      label {
        display: inline-block;
      }
      
      .tag_form {
        margin: 0;
        padding: 0;


        .tag_list {
          width: 100px;
          margin: 0;
        }

        .update_tag {
          margin: 0;

          display: inline-block;
        }
    }
    }

    .history-block {
      margin-left: 0;

      .table-history {
        border: 1px solid #555;

        width:50%;
        margin: 0 auto;
      }      
    }

  }
}

.rating {
  margin-top: 10px;
}

.stats {
  .uploads-graph {
    background-color: white;
  } 


  h3 {
    text-align: center;
  }

  .user-stats {
    margin-top: 10px;

    .user-table {
      padding: 10px;
    }
  }
}