@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

#designs-list-page, #design-page {
  margin-top: 40px;
  min-height: 650px;
}

#designs-list-page {
  ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0 15px 0 0;
  }

  .design {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(4px);
    border: 1px solid #106AA3;
    box-shadow: inset 2px 2px 2px 2px #B2C7D5;
    padding: 10px 10px;
    width: 180px;
    margin: 20px 10px 20px 10px;
    float: left;

    .name {
      text-transform: uppercase;
      margin-bottom: 5px;
      padding-bottom: 5px;
      
      a {
        color: #333;
      }
      
    }
    .image {
      width: 150px;
      border: 1px solid #106AA3;
      border-radius: 4px;
      position: relative;
      margin-bottom: 10px;
      background-image: url('/assets/transparent.png');

      .preview-thumbnail {
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .label {
        width: 143px;
        height: 24px;
        opacity: 0.7;
        position: absolute;
        margin-top: -26px;
        font-size: 14px;
        line-height: 24px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    .btn {
      width: 132px;
      margin: 2px
    }

  }
}

#design-page {
  text-align: center;
  
  h3 {
    text-transform: capitalize;
  }
  
  .loading {
    margin: 20px;
    @include border-radius(50px);
  }
  
  .design {
    border: 5px solid #aaa;
    background: #eeeeee url("/assets/noise.png") repeat;
    @include border-radius(4px);
    min-height: 100px;
    padding: 25px;
    margin-top: 10px;
  }
  
  .design-thumbnail {
    margin: 0 auto;
    img {
      background: #ffffff;
      border: 3px solid #AAA;
      border-radius: 3px;
      
    }
  }
}