@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

#designs-list-page, #design-page {
  margin-top: 40px;
}

#designs-list-page {
  ul {
    list-style-type: none;
    padding: 0 15px 0 0;
  }

  .design {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(4px);
    border: 1px solid #106AA3;
    box-shadow: inset 2px 2px 2px 2px #B2C7D5;
    padding: 20px 10px;
    margin: 10px 0px;

    .name {
      background: url("/assets/arrow.png") no-repeat top left;
      margin-left: 10px;
      padding-left: 25px;
      padding-right: 10px;
      padding-top: 2px;      
      text-transform: uppercase;
      
      a {
        color: #333;
      }
      
    }
  }
}

#design-page {
  text-align: center;
  
  h3 {
    text-transform: capitalize;
  }
  
  .loading {
    margin: 20px;
  }
  
  .design {
    border: 5px solid #aaa;
    background: #eeeeee url("/assets/noise.png") repeat;
    @include border-radius(4px);
    min-height: 100px;
    padding: 25px;
    margin-top: 10px;
  }
}