@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

  .usage-info {
    margin: 0 auto;
    margin-left: 40%;
    display: inline-block;

    .msg {
    }
  }

  h3 {
    font-size: 14px;
    padding:20px 0 0 0;
  }

  .alert {
    font-size: 11px;
    margin: 0px 20px 10px 0;
    font-family: 'Helvetica Neue';
    padding: 3px;
    width: 212px;
    line-height: 12px;

    .label {
      font-size: 9px;
      font-weight: normal;
      font-family: Ubuntu;
    }
  }

  #css_prefix { 
    margin-left: 20px;

    input {
      width:70px;
      margin-bottom: 0;
    }

    button {
      width:70px;
    }
  }


  #css_editor {

    margin-left: 20px;

    ul {
      margin: 10px 0 10px 0;
      list-style: none;
      max-height: 500px;
      overflow: scroll;
      width: 230px;

      li {
        margin:0;
        padding:0;
      }

      pre {
        width: 200px;
        display: none;
      }

      input {
        background-color: inherit;
        border:1px solid #aaf;
        margin-bottom: 1px;
      }

      input:focus {
        background-color: #fff;
        border: 2px solid #00f;
      }

    }


    .save-wrapper {
      padding:10px;
      text-align: center;
    }

  }

  #editor-controls {
    position: absolute;
    top: 53px;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    z-index: 100;
    
    background: #CEDEEB url("/assets/noise.png") repeat;
    color: #333;

    width: 300px;
    font-family: "Ubuntu";
    font-size: 14px;

    h1 {
      font-size: 15px;
    }

    label {
      color: #1D2A5B;
      font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
      font-weight: bold;
    }
    
    .css-style, .property {
      margin: 2px;
      
      .key {
        float: left;
        width: 100px;
      }
      
      .value {
        float: left;
        padding: 2px 4px;
        color: #fff;      
        background: #000;
      }
      
      input[type=text] {
        width: 60px;
      }
    }    
  }
  
  #editor-iframe {
    position: absolute;
    top: 53px;
    left: 0;
    height: 100%;
    overflow: auto;
    
    width: 100%;
    height: 99%;
    min-height: 99%;
    border: 0px inset;
    border-right: 1px solid #106AA3 ;

  }

  .multiselect {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 45%;
    padding: 10px;
    display: inline-block;
    border-top: 2px solid #DD3C10;
    border-left: 2px solid #DD3C10;
    border-right: 2px solid #DD3C10;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
  }

  .grouptags {
    display: none;
  }
}

.typeahead {
  width: 220px;
}