@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;

  canvas {
    position: absolute;
  }

  #app {
    background: url('/assets/low_contrast_linen.jpg');

    #editor {
      float: left;
      margin: 0px 10px;
      width: 1200px;
      border: 1px solid #ccc;
      @include box-shadow(rgba(white, 0.4) 0 0px 15px, rgba(white, 0.4) 0 0 25px inset);

      .navbar {
        margin-bottom: 0px;

        .navbar-inner {
          border-bottom: none;
        }
      }
    }

    #left-sidebar {
      float: left;
      width: 190px;
      height: 800px;
      overflow: auto;
      margin: 50px 5px;
      
      color: #fff;
      border-left: 1px solid #999;

      font-family: "museo-sans", sans-serif;
      font-size: 12px;

      #action-panel {
        margin:0 auto;
        margin-top: 100px;
        width: 175px;
      }
    }

    #intersections-sidebar {
      margin-top: 25px;

      h1 {
        color: #fff;
        font-size: 15px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .intersection-item {
        margin-left: 10px;
        font-size: 15px;
        margin-bottom:10px;
        cursor: pointer;

        .actions {
          display: none;
          font-size: 10px;
        }        
      }

    }
  }
}
