@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

  .usage-info {
    margin: 0 auto;
    margin-left: 40%;
    display: inline-block;

    .msg {
    }
  }

  #widget-class-name {
    .modal-header {
      font-size: 19px;
    }
    width: 195px;
    input#widget-name {
      width: 150px;
    }

    .btn-primary {
      width:160px;
    }
  }

  .modal-backdrop {
    opacity: 0.4;
  }

  .alert {
    font-size: 11px;
    margin: 0px 20px 10px 0;
    font-family: 'Helvetica Neue';
    padding: 3px;
    width: 212px;
    line-height: 12px;
    background-color: transparent;
    color: #444;

    .label {
      font-size: 9px;
      font-weight: normal;
      font-family: Ubuntu;
    }
  }

  #css_prefix { 
    margin-left: 20px;

    input {
      width:70px;
      margin-bottom: 0;
    }

    button {
      width:70px;
    }
  }

  .edit-carousel {
    margin-left: 4px;
    margin-top: 10px;
    .row {
      margin-left: 0;
    }


    .big-box {
      font-size: 18px;
      padding: 10px;
      height: 18px;
      width: 180px;
      margin: 0;
    }

    .edit-prev,
    .edit-next {
      display: inline-block;
      margin-bottom: 2px;
      background-color: #eee;
      padding: 3px;
      border: 1px solid #888;
      border-radius: 3px;
    }

    input {
      background-color: white;
    }

    select {
      font-size: 18px;
    }

  }

  .saveclasses {
    margin-left: 80px;
  }

  #edit-panel {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    z-index: 100;
    
    background: white url("/assets/noise.png") repeat;
    color: #333;
    border-left: 1px solid #999;

    width: 300px;
    font-family: "Ubuntu";
    font-size: 14px;

    h1 {
      font-size: 15px;
    }

    h3 {
      font-size: 18px;
      font-family: "lemonde-sans", sans-serif;
      text-align: center;
      border-bottom: 1px solid #666;
      padding: 30px 0 0 0;
      margin-bottom: 10px;
    }


    h4 {
      font-family: 'Helvetica Neue', sans-serif;
      padding: 2px 0;
      background-color: #ccc;
    }

  
    label {
      color: #1D2A5B;
      font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
      font-weight: bold;
    }
  }
  
  #editor-iframe {
    position: absolute;
    top: 53px;
    left: 0;
    height: 100%;
    overflow: auto;
    
    width: 100%;
    height: 99%;
    min-height: 99%;
    border: 0px inset;
    border-right: 1px solid #106AA3 ;

  }

  .multiselect {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 45%;
    padding: 10px;
    display: inline-block;
    border-top: 2px solid #DD3C10;
    border-left: 2px solid #DD3C10;
    border-right: 2px solid #DD3C10;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
  }

  .grouptags {
    display: none;
  }
}

.typeahead {
  width: 220px;
}