body {
  background: #ffffff;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

  .usage-info {
    margin: 0 auto;
    margin-left: 40%;
    display: inline-block;

    .msg {
    }
  }

  .editor-header {
  }

  .editor-controls {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: auto;
    
    background: #CEDEEB url("/assets/noise.png") repeat;
    color: #333;

    width: 20%;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;

    h1 {
      font-size: 15px;
    }

    label {
      color: #1D2A5B;
      font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
      font-weight: bold;
    }

    .edit-tags {
      form {
        text-align: center;

        .tag-switch-block, 
        .xpath-block
        {
          display: inline-block;
          width: 250px;
          margin: 0 auto;
        }

        #item-xpath {
          border: 1px solid #aaa;
          width: 200px;
          padding: 2px;
          display: inline-block;
        }
      }
    }
  }

  #editor-iframe {
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    overflow: auto;
    
    width: 80%;
    height: 99%;
    min-height: 99%;
    border: 0px inset;
    border-right: 1px solid #106AA3 ;

  }

  .multiselect {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 45%;
    padding: 10px;
    display: inline-block;
    border-top: 2px solid #DD3C10;
    border-left: 2px solid #DD3C10;
    border-right: 2px solid #DD3C10;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
  }

  .grouptags {
    display: none;
  }
}
