@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;

  .navbar {
    margin-bottom: 5px;
  }

  canvas {
    position: absolute;
  }

  .canvas-area {
    background: url('/assets/transparent.png');
  }

  #editor-notifications {
    position: fixed;
    display: inline-block;
    float: left;
    top: 100px;
    left: 40%;
    z-index: 999998;
    background-color: #F9EDBE;
    color: black;
    font-weight: bold;
    line-height: 12px;
    padding: 5px 17px;
    border-radius: 3px;
    border-color: #F0C36D;
    border-style: solid;
    border-width: 1px;
    display: none;
  }

  #app {

    #topbar {
      margin: 0px 10px;

      .design-name {
        padding: 8px 15px;
        font-weight: bold;
      }

      .nav {
        margin-bottom: 0px;
        .active a {
          @include background(image-url('/assets/noise.png') #eee);
        }
      }
    }

    #content {
      margin-left: 10px;
      min-height: 600px;
      max-width: 1420px;
      @include background(image-url('/assets/noise.png') #eee);
    }

    #editor {
      float: left;
      width: 1024px;
      padding: 15px 5px;

      .canvas-area {
        @include box-shadow(rgba(black, 0.4) 2px 2px 10px);
      }
    }

    #sidebar {
      float: left;
      width: 380px;
      font-family: "museo-sans", sans-serif;
      font-size: 12px;
      margin-left: 5px;

      .sidebar {
        overflow: auto;
        height: 100%;
        color: #333;

        .code-area {
          padding: 15px 10px;

          .nav {
            @include border-top-radius(5px);        
            margin-bottom: 0px;
            background: #ccc;
            padding: 5px;

            a {
              color: #333;

              &:hover {
                @include border-radius(15px);
              }
            }
            
            .active {
              a {
                background: #333;
                color: #fff;
                @include border-radius(15px);
              }
            }

          }
        }

        textarea {
          width: 380px;
          resize: none;
        }
      }

      .image-area {
        padding: 15px 10px;
      }
    }

    #intersections-sidebar {
      font-family: "museo-sans", sans-serif;
      margin-left: 10px;

      h1 {
        color: #fff;
        font-size: 15px;
        padding: 0;
        margin: 0;
        font-family: "museo-sans", sans-serif;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .focused-item {
        background: #222;
        border-radius: 3px;
      }

      .intersection-item {
        $selected_panel : #555;

        padding-left: 10px;
        font-size: 15px;
        padding-bottom:10px;
        cursor: pointer;
        font-family: "museo-sans", sans-serif;

        .top-head-item {
          font-size: 12px;
        }

        .actions {
          display: none;
          font-size: 10px; 
          margin-bottom: 0;
          padding-left: 10px;

          a {
            display: inline-block;
            padding: 0px 3px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }

          a.selected {
            background-color: $selected_panel;
          }
        }  

        .action-panel {
          font-size: 10px;
          background-color: $selected_panel;
          padding-left: 10px;
          padding-bottom: 5px;
          margin-right: 10px;

          .delete-btn {
            padding-left: 10px;
          }

          .visibility-btn {
            padding-left: 10px;
          }

          .btn-small {
            box-shadow: none;
          }
        }
      }
    }

    #images {
      padding: 15px 85px;
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

#copy-to-clipboard {
  width: 120px;
  font-size: 12px;

  i {
    padding: 0px 3px;
  }

}

.imageblock {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  border: 1px solid #999;
  margin-bottom: 10px;

  .layer-image {
    @include background(image-url('/assets/transparent.png'));
    vertical-align:middle;
    text-align: center;
    
    
    .preview-thumbnail {
      height: 171px;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px dashed #999;
    }
  }

  .layer-name {
    margin-top: -2px;
    margin-left: -1px;
    border: 1px solid #999;
    display: table;

    span {
      display: table-cell;
      width: 100%;
    }

    input {
      text-align: right;
      width: 98%;
      padding-left: 1%;
      padding-right: 1%;

      &:focus {
        border: 1px solid #333;
        font-weight: bold;
        color: #333;
      }
    }

  }
}