@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;

  .navbar {
    margin-bottom: 5px;
  }

  canvas {
    position: absolute;
  }

  .canvas-area {
    background: url('/assets/transparent.png');
  }

  #editor-notifications {
    position: fixed;
    display: inline-block;
    float: left;
    top: 100px;
    left: 40%;
    z-index: 999998;
    background-color: #F9EDBE;
    color: black;
    font-weight: bold;
    line-height: 12px;
    padding: 5px 17px;
    border-radius: 3px;
    border-color: #F0C36D;
    border-style: solid;
    border-width: 1px;
    display: none;
  }

  #app {

    #topbar {
      margin: 0px 12px;
    }

    #editor {
      float: left;
      margin-left: 10px;
      width: 1024px;
      padding: 1px;

      .canvas-area {
        border: 1px solid #ccc;
        @include box-shadow(rgba(black, 0.4) 2px 5px 25px);
      }
    }

    #sidebar {
      
      font-family: "museo-sans", sans-serif;
      font-size: 12px;

      .sidebar {
        overflow: auto;
        width: 390px;
        height: 100%;
        float: left;
        margin: 0px 5px;
        color: #333;

        .code-area {
          padding: 5px 10px;

          .nav {
            @include border-top-radius(5px);        
            margin-bottom: 0px;
            background: #ccc;
            padding: 5px;

            a {
              color: #333;
            }
            .active {
              a {
                background: #333;
                color: #fff;
                @include border-radius(15px);
              }
            }
          }
        }

        textarea {
          width: 380px;
          resize: none;
        }
      }
    }

    #intersections-sidebar {
      font-family: "museo-sans", sans-serif;
      margin-left: 10px;

      h1 {
        color: #fff;
        font-size: 15px;
        padding: 0;
        margin: 0;
        font-family: "museo-sans", sans-serif;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .focused-item {
        background: #222;
        border-radius: 3px;
      }

      .intersection-item {
        $selected_panel : #555;

        padding-left: 10px;
        font-size: 15px;
        padding-bottom:10px;
        cursor: pointer;
        font-family: "museo-sans", sans-serif;

        .top-head-item {
          font-size: 12px;
        }

        .actions {
          display: none;
          font-size: 10px; 
          margin-bottom: 0;
          padding-left: 10px;

          a {
            display: inline-block;
            padding: 0px 3px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }

          a.selected {
            background-color: $selected_panel;
          }
        }  

        .action-panel {
          font-size: 10px;
          background-color: $selected_panel;
          padding-left: 10px;
          padding-bottom: 5px;
          margin-right: 10px;

          .delete-btn {
            padding-left: 10px;
          }

          .visibility-btn {
            padding-left: 10px;
          }

          .btn-small {
            box-shadow: none;
          }
        }
      }
    }
  }
}
