@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: #ffffff;
  padding: 0;

  canvas {
    position: absolute;

  }

  #app {
    background: url('/assets/low_contrast_linen.jpg');

    .canvases {
      float: right;
      margin: 25px 10px;
      width: 1200px;
      border: 1px solid #ccc;
      @include box-shadow(rgba(white, 0.4) 0 0px 15px, rgba(white, 0.4) 0 0 25px inset);
    }

    #left-sidebar {
      float: left;
      width: 190px;
      height: 800px;
      overflow: auto;
      margin: 50px 5px;
      position: fixed;
      max-height: 700px;
      
      color: #fff;
      border-left: 1px solid #999;

      font-family: "museo-sans", sans-serif;
      font-size: 12px;
    }

    #intersections-sidebar {
      font-family: "museo-sans", sans-serif;
      margin-left: 10px;

      h1 {
        color: #fff;
        font-size: 15px;
        padding: 0;
        margin: 0;
        font-family: "museo-sans", sans-serif;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .focused-item {
        background: #222;
        border-radius: 3px;
      }

      .intersection-item {
        $selected_panel : #555;

        padding-left: 10px;
        font-size: 15px;
        padding-bottom:10px;
        cursor: pointer;
        font-family: "museo-sans", sans-serif;

        .top-head-item {
          font-size: 12px;
        }

        .actions {
          display: none;
          font-size: 10px; 
          margin-bottom: 0;
          padding-left: 10px;

          a {
            display: inline-block;
            padding: 0px 3px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }

          a.selected {
            background-color: $selected_panel;
          }
        }  

        .action-panel {
          font-size: 10px;
          background-color: $selected_panel;
          padding-left: 10px;
          padding-bottom: 5px;
          margin-right: 10px;

          .delete-btn {
            padding-left: 10px;
          }

          .visibility-btn {
            padding-left: 10px;
          }

          .btn-small {
            box-shadow: none;
          }
        }
      }
    }
  }
}
