/*
 * CSS to be included in the generated iframe window for editor
 *= require app/buttons
 */
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10001;
  background: url("/assets/noise-black-overlay.png") repeat;
  width: 100%;
  height: 100%;

  .content {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
  }
}

.mouseoverlay {
  border: 1px dotted #333333;
}

#overlay {
  top: 0;
  left: 0;
  position: absolute;
  background: url("/assets/noise-black-overlay.png") repeat;
  z-index: 1000;
}


.selected {
  position: relative;
  z-index: 1001;
}

.focus-overlay {
  position: absolute;
  z-index: 1005;
  background: 
     url(/assets/circle.png) left top no-repeat,
     url(/assets/circle.png) left center no-repeat,   
     url(/assets/circle.png) left bottom no-repeat,

     url(/assets/circle.png) right top no-repeat,
     url(/assets/circle.png) right center no-repeat,   
     url(/assets/circle.png) right bottom no-repeat,

     url(/assets/circle.png) center top no-repeat,   
     url(/assets/circle.png) center bottom no-repeat,
     
     url(/assets/line-x.png) left top repeat-x,
     url(/assets/line-x.png) left bottom repeat-x,
     url(/assets/line-y.png) left top repeat-y,
     url(/assets/line-y.png) right top repeat-y;
}