#images-editor {
  .back-to-design {
    margin-bottom: 15px;  
  }

  .imageblock {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 10px;

    .layer-image {
      height:171px;
    }

    .layer-name {
      width: 158px;
      margin-left: -1px;
      border-radius:5px;
      border: 1px solid #333;
    }


  }

}


#replace-dom {
  table {
    width: 700px;
    margin: 10px auto;
  }

  input[type="text"] {
    width: 180px;
    margin-left: 20px;
  }
}