#images-editor {
  .back-to-design {
    margin-bottom: 15px;  
  }

  .imageblock {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-bottom: 10px;

    .layer-image {
      height:171px; 
      display:table-cell;
      vertical-align:middle;
      text-align: center;
      
      .preview-thumbnail {
        width: 170px;
        height: 171px;
        background-repeat: no-repeat;
        background-position: center;       
      }
    }

    .layer-name {
      width: 170px;
      margin-left: -1px;
      border-radius: 5px;
      border: 1px solid #333;
      margin-top: -2px;

      
      input {
        width: 118px;
        text-align: right;
      }
    }

  }

}


#replace-dom {
  table {
    width: 700px;
    margin: 10px auto;
  }

  input[type="text"] {
    width: 180px;
    margin-left: 20px;
  }
}