@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";


   
.header {
 min-height: 37px;
 width: 100%;
 background-color: #5f2f71;
 padding-top: 12px;
 padding-bottom: 0;

 .header-logo-wrap {
   width: 960px;
   margin: 0 auto;
   text-align: left;  
 }
}

#landing-page {
  min-height: 422px;
  background-color: #ffffff;
  padding-bottom: 278px;
 

  .drop {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(8px);
    border: 1px dotted #106AA3;
    width: 80%;
    min-height: 200px;
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }

  .flow-block-wrap {
    margin:0 auto;
  }


  .flows-block {
   width: 800px;
   margin-top: 78px;
   font-family: Vollkorn;
   font-size: 42px;
   margin: 50px auto;
  

   .photoshop-icon {
    width: 128px;
    
   }
  
   .arrow1 {
    width: 116px;
    margin-top: 54px;
    margin-left: 15px;
    
   }
  
   .markupwand-icon {
    width: 125px;
    margin-top: 21px;
    margin-left: 32px;
    
   }
   

   .arrow2 {
    width: 116px;
    margin-top: 65px;
    margin-left: 17px;
    
   }
   
   .html-css-block {
    width: 110px;
    margin-top: 26px;
    margin-left: 32px;
    color: #000000;
    line-height: 44px;
    letter-spacing: -1px;
    text-align: center;

    .ampersand {
      font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
      font-style: italic;
      font-weight: lighter;
    }
    
   }

  }
  
  .flows-text-block {
   width: 877px;
   margin: 40px auto;
   font-family: Ubuntu;
   font-weight: bold;
   font-size: 24px;
   color: #0c437b;
   letter-spacing: -1px;
   
   .markupwand-item {
    margin-left: 121px;
    
   }
   
   .plug-into-item {
    margin-left: 115px;
    
   }

  }

  .email-invite-box {
    margin: 60px auto 60px auto;
    text-align: center;

    #invite-email {
      margin-bottom: 0;
      min-height: 25px;
    }
  }

}


.prefilled-field {
  color: #aaa;
  font-size: 120%;
  padding: 10px;
}

.content-area {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  margin: 50px 150px 50px 150px;
  -webkit-box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
  box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
}

.content-area h2 {
  padding-bottom: 20px;
}

.error {
  color: white;
  text-shadow: 3px 2px 2px red;

}
