.prefilled-field {
  color: #aaa;
  font-size: 120%;
  padding: 10px;
}

.content-area {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  margin: 50px 150px 50px 150px;
  -webkit-box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
  box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
}

.content-area h2 {
  padding-bottom: 20px;
}

.error {
  color: white;
  text-shadow: 3px 2px 2px red;

}
