@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";



#landing-page {
  h2, h3, h4 {
    font-family: "ff-tisa-web-pro",serif;
    font-weight: normal;
  }

  .try-block {
    margin-top: 40px;
    display: inline-block;

    em {
      display:block;
      text-align: center;
      margin-top: 20px;
      text-decoration: none;
      font-style: normal;
      font-size: 10px;
      color:#555;
      line-height:12px;
      margin-left: 30px;
    }
  }


  #beta-ribbon {
    background: url("/assets/beta-ribbon.png");
    position: fixed;
    height: 149px;
    width: 149px;
    top: 0;
    right: 0;
  }


  .statement {
    padding: 75px 0 135px 0;
    @include background-image(url('/assets/digital-banner2.png'));

    h2 {
      font-size: 70px;
      color: #fff;
      line-height: 80px;
      @include text-shadow(rgba(black, 0.6) 3px 3px 6px);
    }

    em {        
      display: inline-block;
      font-style: normal;
      font-size: 30px;
      color: #0FBAF3;
    }

    font-weight: normal;
    color: #3F474C;
    margin-bottom: 30px;

    .taglines {
      margin-left: 20%;
    }
  }

  .homepage-box {
    position: relative;
    top: -65px;
    text-align: center;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 20px;
    @include single-box-shadow;
    @include box-shadow(0 18px 50px rgba(0, 0, 0, 0.2));

    .download-image {
      font-size: 10px;
      font-weight: normal;
      color: #aaa;
    }

    .sample-image-embed {
      width:620px;
      height:280px;
      background-image: url('/assets/transparent.png');

      img {
        width: auto;
        padding: 10px 0;
      }
    }

    .jsbin {
      margin-bottom: 20px;
      margin-left: 10px;
    }

    h1 {
      margin: 10px 0;
    }

    .login-signup {
      float: right;
      position: absolute;
      top: 10px;
      right: 25px;

      .btn-small {
        font-weight: bold;
        border-radius: 0px;
        margin-right: 2px;
        margin-left: 2px;
      }
    }

    img {
      margin: 0 0 5px 0;
      width: 400px;
    }


    .sample-image-block {
    }

    .features-block {
      padding-bottom: 20px;
      .features {
        margin-top: 10px;
        border-right: 1px solid #999;
        padding-right: 10px;

        ul {
          list-style: none;

          li {
            display: block;
            text-align: right;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 13px;
            line-height: 24px;
          }

          li.first {
            font-weight: bold;
          }

          li:last {
            clear:both;
          }
        }
      }
    }
  }

  .aboutus-link {
    color: #555;
  }

  .sample-block {
    margin: 20px 159px;
    pre {
      text-align: left;
    }
    
    .code-block {
      pre {
        background: #fff;
        height: 400px;
        overflow-y: scroll;
      }
      margin-top: 20px;
    }
  }


  .viral {
    margin-top: 20px;
    text-align: center;

    .viral-inner {
      width:400px;
      margin: 0 auto;
    }
  }
 
  .drop {
    @include border-radius(8px);
    border: 1px dotted #106AA3;
    width: 80%;
    min-height: 200px;
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }


  .ampersand {
    font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
    font-style: italic;
    font-weight: lighter;
  }

  .email-invite-box {
    margin: 60px auto 20px auto;
    text-align: center;
    
    #invite-email {
      min-height: 25px;
    }
  }
}

.prefilled-field {
  color: #aaa;
  font-size: 120%;
  padding: 10px;
}

.content-area {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  margin: 50px 150px 50px 150px;
  -webkit-box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
  box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
}

.content-area h2 {
  padding-bottom: 20px;
}

.error {
  color: red;
  text-shadow: 3px 2px 2px red;

}

a.start-using-button {
  min-height: 24px;
  width: 186px;
  margin: auto 0px;
  @include background-image(linear-gradient(#F2A54D, #F27521));
  @include box-shadow(rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 1px 0, orange 1px 1px 1px inset);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);

  border-radius: 4px;
  margin-top: 97px;
  padding: 15px 30px;
  margin-left: 35px;
  font-family: Asap;
  font-size: 24px;
  color: #ffffff;
}

a.start-using-button:hover {
  @include box-shadow(yellow 1px 1px 1px inset);
  text-decoration: none;
}

#about {
  article {
    @include border-radius(4px);
    background-color:#fff;
    @include box-shadow(#a7a7a7 2px 2px 10px);
    margin-top:10px;
    padding:10px 20px;
    font-family: 'Droid Serif', serif;
    width: 920px;


    h1 {
      font-size: 28px;
      font-weight:normal;
    }

    p {
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
      font-size: 14px; 
    }

    .aboutus, .pet-projects {
      margin-bottom:20px;
      p {
        padding: 20px;
      }

      strong {
        display:block;
        font-size: 14px;
        font-weight: bold;
        padding-right:5px;
      }
    }

    .networks {
      font-size:12px;
    }
  }
}
