@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";


   
.header {
 min-height: 37px;
 width: 100%;
 background-color: #5f2f71;
 padding-top: 12px;
 padding-bottom: 0;

 .header-logo-wrap {
   width: 960px;
   margin: 0 auto;
   text-align: left;  
 }
}

#landing-page {

  .homepage-box {
    text-align: center;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 4px;
    @include single-box-shadow;
    @include box-shadow(rgba(black, 0.05) 0 0 8px, rgba(black, 0.1) 0 0 1px, rgba(black, 0.1) 0 1px 0, white 0 1px 0 inset);

    img {
      margin: 30px 0;
    }

    .statement {
      font-size: 20px;
      font-family: 'Average', serif;
      font-weight: bold;
      color: #3F474C;
    }

    .features {
      margin-top: 10px;
      ul {
        list-style: none;

        li {
          display: inline-block;
          margin-left: 5px;
          margin-right: 5px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          color: #939799;
          font-size: 12px;
        }

        li:last {
          clear:both;
        }
      }
    }
  }

  .email-response {
    font-size: 17px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }



  .viral {
    margin-top: 20px;
    text-align: center;

    .viral-inner {
      width:310px;
      margin: 0 auto;
    }
  }
 
  .drop {
    @include border-radius(8px);
    border: 1px dotted #106AA3;
    width: 80%;
    min-height: 200px;
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }


  .ampersand {
    font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;
    font-style: italic;
    font-weight: lighter;
  }

  .email-invite-box {
    margin: 60px auto 20px auto;
    text-align: center;
    
    #invite-email {
      min-height: 25px;
    }
  }

}


.prefilled-field {
  color: #aaa;
  font-size: 120%;
  padding: 10px;
}

.content-area {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 10px;
  margin: 50px 150px 50px 150px;
  -webkit-box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
  box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
}

.content-area h2 {
  padding-bottom: 20px;
}

.error {
  color: white;
  text-shadow: 3px 2px 2px red;

}

a.start-using-button {
  min-height: 24px;
  width: 186px;
  margin: auto 0px;
  @include background-image(linear-gradient(#F2A54D, #F27521));
  @include box-shadow(rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 1px 0, orange 1px 1px 1px inset);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);

  border-radius: 4px;
  margin-top: 97px;
  padding: 15px 30px;
  margin-left: 35px;
  font-family: Asap;
  font-size: 24px;
  color: #ffffff;


}

a.start-using-button:hover {
  @include box-shadow(yellow 1px 1px 1px inset);
  text-decoration: none;
}

#about {
  article {
    @include border-radius(4px);
    background-color:#fff;
    @include box-shadow(#a7a7a7 2px 2px 10px);
    margin-top:10px;
    padding:10px 20px;
    font-family: 'Droid Serif', serif;


    h1 {
      font-size: 28px;
      font-weight:normal;
    }

    p {
      font-family: 'helvetica neue', helvetica, arial, sans-serif;
      font-size: 14px; 
    }

    .aboutus, .pet-projects {
      margin-bottom:20px;
      p {
        padding: 20px;
      }

      strong {
        display:block;
        font-size: 14px;
        font-weight: bold;
        padding-right:5px;
      }
    }

    .networks {
      font-size:12px;
    }
  }
}
