.login-area {
  min-height: 650px;
  width: 400px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;

  .section-heading {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    color: #5F2F72;
    background: #ffffff;
  }

  .alt-separator {
    background: url('/assets/separator-line.png') no-repeat;
    background-color: #ffffff;
    background-position: center;
    background-size: 50%;
    font-weight: bold;
  }

  .main-form {
    padding-top: 20px;
    padding-bottom: 50px;
    background: white;

  }

  .secondary-form {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #DADADA;
  }

  #invite-email {
    text-align: center;
  }

  form{
    margin: 0 auto;
    label{
      text-align: right;
      display: inline;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .left-align {
      padding-left: 5px;
      text-align: left;
      width: 200px
    }

    .right-align {
      padding-right: 5px;
      text-align: right;
      width: 120px;
    }

  }
}

.auth-alerts {
  font-weight: bold;
  width:40%;
  display: inline-block;
  margin: 0 auto;
}
