.login-area {
  min-height: 650px;
  padding-top: 50px;

  .col1 {
    width: 460px;
    min-height: 200px;
    border-right: 2px solid #aaa;
    float: left;
  }

  .col2 {
    width: 460px;
    float: right;
  }

  .section-heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  #alt-login-block {
    padding-top: 50px;
  }

  form{
    label{
      text-align: right;
      display: inline;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .left-align {
      padding-left: 5px;
      text-align: left;
      width: 200px
    }

    .right-align {
      padding-right: 5px;
      text-align: right;
      width: 120px;
    }

  }
}

.auth-alerts {
  font-weight: bold;
  width:40%;
  display: inline-block;
  margin: 0 auto;
}
