@import "compass/css3";

body {
  background: #f5f5f5;
}

h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.push-down {
  margin: 20px;
}

.container-extra-narrow {
  width: 350px;
  margin: 0 auto;
}

.top-menu {
  margin: 50px 0px;

  a {
    color: #333;
    &:hover{
      text-decoration: none;
    }
  }
}

.form-signin {
  padding: 50px 30px;

  background-color: #fff;
  border: 1px solid #e5e5e5;
  @include border-radius(10px);
  @include box-shadow(rgba(0,0,0,.05) 0px 1px 2px);
  
  .checkbox {
    margin-bottom: 30px;
  }

  input {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }

}

