@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

#design-upload-page {

  .chosen-file {
    margin-top: -40px;
  }

  #file-upload-form {
    width: 640px;
    padding-top: 30px;
    margin: 0px auto;
    position: relative;

    .important-instruction {
      font-family: 'Merienda One', cursive;
      position: absolute;
      right: -150px;
      top: 135px;
      width: 230px;
      color: #a02929;
      
      .text {
        margin-left: 100px;
      }
    }

    #file-select-zone {
      position: relative;
      cursor: pointer;

      #file-selector {
        height: 100px;
        background: white;
        color: #333;
        font-size: 36px;
        padding: 83px 0px 25px 0;
        vertical-align: middle;
        text-align: center;
        border: 3px dashed #888;
        background: url(/assets/subtlenet2.png) ;
        text-shadow: #A3A3A3 1px 1px 2px;

        
        &:hover {
          border: 3px dashed #000;
        };
      }

      #design_file {
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      #file-input-enclosure {
        height: 215px;
        width: 640px;
        position: absolute;
        display: inline-block;
        top: 0px;
      }
    }

    #file-upload-submit[disabled=disabled] {
      border-color: #eee;
      @include box-shadow(none);
    }

    #file-upload-submit[disabled=disabled]:hover {
      border-color: #eee;
      @include box-shadow(none);
      @include background-image(none);
    }


    #file-upload-submit {
      width: 640px;
      text-align: center;
      margin-top: 10px;
      height: 50px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 30px;
      color: white;
      border-color: #F8AA03;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
      @include background-image(linear-gradient(#F2A54D, #F27521));
      @include box-shadow(rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 0 1px, rgba(gray, 0.8) 0 1px 0, orange 1px 1px 1px inset);
      border-radius: 4px;

      &:disabled {
        background: #dddddd url("/assets/noise.png") repeat;
      }

      &:hover {
        @include background-image(linear-gradient(#F27521, #F2A54D));
        @include box-shadow(yellow 1px 1px 1px inset);
        text-decoration: none;
      }
    }
  }
}

.new-user-message {
  padding: 25px 0px 200px 0px;

  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .message {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.existing-user-message {
  padding: 5px;
  width: 450px;
  background: #ffffff;
}