
#design-upload-page {

  #file-upload-form {
    width: 640px;
    padding-top: 30px;
    margin: 0px auto;

    #file-select-zone {
      position: relative;
      cursor: pointer;

      #file-selector {
        height: 100px;
        background: white;
        color: #333;
        font-size: 36px;
        padding: 100px 0px;
        vertical-align: middle;
        text-align: center;
        border: 3px dashed #888;
        background: #eee;
        
        &:hover {
          border: 3px dashed #000;
        };
      }

      #design_file {
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      #file-input-enclosure {
        height: 300px;
        width: 640px;
        position: absolute;
        display: inline-block;
        top: 0px;
      }
    }

    input#file-upload-submit {
      width: 640px;
      text-align: center;
      margin-top: 10px;
      height: 50px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 30px;
      color: white;
      background: #ff4500 url("/assets/noise.png") repeat;      
      border-radius: 4px;

      &:disabled {
        background: #dddddd url("/assets/noise.png") repeat;
      }
    }
  }
}

.new-user-message {
  padding: 25px;

  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .message {
    font-size: 18px;
    width: 500px;
    margin-bottom: 20px;
  }
}