<%= content_for :content do %>
  <%= render 'shared/header' %>
  <%= stylesheet_link_tag "app/login", :media => "all" %>
  <div class="container login-area">
    <div class="section-heading center">You don't seem to have access to Markupwand yet</div>
    <div class="center">We'll send you an invite as soon as we could.</div>
  </div>
  <%= render 'shared/footer' %>
<% end %>