/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lib/screen
 *= require lib/ie
 *= require lib/print
 *= require lib/bootstrap
 *= require lib/bootstrap-responsive
 *= require lib/bootstrap_and_overrides
 *= require lib/jquery-ui-1.8.20
 *= require app/buttons
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: url('bg-notepad.png') repeat transparent;
}

h1 {
  color: #333;
  margin: 30px;
  font-family: 'Dancing Script', serif;
}

h2 {
  color: #333;
  font-family: 'Antic Slab', serif;
  text-align: center;
}


.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

small {
  font-size: 0.75em;
}

#editor-header.navbar, #header.navbar {
  font-family: 'Ubuntu Condensed', serif;
  font-size: 18px;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  .navbar-inner {
    height: 50px;
    background: #5f2f72 url("/assets/noise.png") repeat;
    border-bottom: 3px solid #431555;
  }

  .brand {
    padding: 8px 20px 2px 40px;
  }

  .nav {
    .active {
      a {
        @include box-shadow(rgba(41, 23, 37, 0.75) 6px 6px 6px inset, rgba(41, 23, 37, 0.75) -6px -6px 6px inset);
        background: none;
        padding: 16px 20px;
      }
    }
  }

  ul.nav {
    float: right;


    li {
      a {
        padding: 16px 20px;
        color: #dcdcdc;

        text-shadow: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#landing-page {
  img {
    margin-top: 30px;
  }

  .drop {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(8px);
    border: 1px dotted #106AA3;
    width: 80%;
    min-height: 200px;
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }
}

#design-upload-page {

  #file-upload-form {
    width: 640px;
    padding-top: 30px;
    margin: 0px auto;

    #file-select-zone {
      position: relative;
      cursor: pointer;

      #file-selector {
        height: 300px;
        background: white;
        color: #333;
        font-size: 36px;
        line-height: 300px;
        vertical-align: middle;
        text-align: center;
        border: 3px dashed #888;
        background: #eee;
        
        &:hover {
          border: 3px dashed #000;
        };
      }

      #design_file {
        width: 100%;
        height: 100%;
        opacity: 0;
      }

      #file-input-enclosure {
        height: 300px;
        width: 640px;
        position: absolute;
        display: inline-block;
        top: 0px;
      }
    }

    input#file-upload-submit {
      width: 640px;
      text-align: center;
      margin-top: 10px;
      height: 50px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 30px;
      color: white;
      background: #ff4500;
      
      &:disabled {
        background: #dddddd;
      }
    }
  }
}

#designs-list-page, #designs {
  margin-top: 80px;

  ul {
    list-style-type: none;
    padding: 0 15px 0 0;
  }

  .design {
    background: #CEDEEB url("/assets/noise.png") repeat;;
    @include border-radius(8px);
    border: 1px solid #106AA3;
    box-shadow: inset 2px 2px 2px 2px #B2C7D5;
    padding: 20px 10px;
    margin: 10px 0px;

    .name {
      background: url("/assets/arrow.png") no-repeat top left;
      padding-left: 20px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1em;
      
      a {
        color: #333;
      }
      
    }
  }

}

.ui-progressbar-value {
  background-image: url(/assets/pbar-ani.gif);
}
  

