/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lib/ie
 *= require lib/bootstrap_and_overrides
 *= require lib/jquery-ui-1.8.20
 *= require lib/jqtree.css
 *= require app/scaffolds
 *= require app/buttons
 *= require app/designs
 *= require app/landing_page
 *= require app/upload
 *= require app/preview
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";
@import "compass/css3/transform";

body {
  font-family: "lemonde-sans", sans-serif;
  background: #DCDFE6;
  @include background-image(url('/assets/dust.png'));

  line-height: 25px;
  overflow: auto;
}

#header {
  @include background-image(url('/assets/low_contrast_linen.png'));
  margin-bottom: 0;

  .container {
    width: 940px;
    padding: 5px 0;
    margin: 0 auto;

    .nav-item {
      margin-top: 4px;
    }

    .login-signup {
      margin-top: 5px;
    }

    .brand:hover {
      border-bottom: 0 none;
    }

  }
}

.ampersand {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: lighter;
}

h1 {
  color: #333;
  margin: 30px;
  font-family: 'Dancing Script', serif;
}

h2 {
  color: #333;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  color: #333;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

#editor-header.navbar {
  font-family: 'Ubuntu Condensed', serif;
  font-size: 18px;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  .action {
    margin: 0px 5px;
    padding: 10px;

    .name {
      margin: 2px;
      font-size: 20px;
      text-transform: uppercase;
      color: #eee;
    }
  }

  .navbar-inner {
    height: 50px;
    background: #5f2f72 url("/assets/noise.png") repeat;
    border-bottom: 3px solid #431555;
    @include border-radius(0px);
  }

  .brand {
    padding: 15px 20px 2px 40px;
  }

  .nav {
    .active {
      a {
        background: none;
        padding: 16px 25px;
      }
    }

    .upload {
      padding-left: 45px;
      background: transparent url("/assets/upload.png") no-repeat 7px 12px;
    }

  }

  ul.nav {
    margin-left: 30px;

    li {
      a {
        padding: 16px 20px;
        color: #dcdcdc;

        text-shadow: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content-area-box {
  text-align: center;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
  @include box-shadow(0 18 px 50 px rgba(0, 0, 0, 0.2));
}

#footer {
  background: #322722 url("/assets/noise.png") repeat;
  margin-top: 30px;
  border-top: 3px solid #231D1A;
  height: 50px;
  color: #C9B994;

  a {
    color: #C9B994;
    text-decoration: underline;
    padding: 10px;
    &:hover {
      text-decoration: underline;
    }
  ;
  }
}

#admin-content {
  position: fixed;
  top: 30%;
  left: 0;
  background: #fff;
  padding: 10px;
  width: 200px;
  text-align: center;
  a {
    margin: 10px;
    display: block;
  }
}

.ui-progressbar-value {
  background-image: url(/assets/pbar-ani.gif);
}

.ui-dialog-titlebar {
  background: #5F2F72;
}

#stack-environment {
  position: fixed;
  bottom: 0;
  right: 0;
  background: darkRed;
  color: white;
  padding: 10px;
  @include border-radius(4px);
  font-size: 1.5em;
  text-transform: capitalize;
}

.systemwide-notice {
  font-family: Helvetica Neue;
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

