/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lib/screen
 *= require lib/ie
 *= require lib/print
 *= require lib/bootstrap
 *= require lib/bootstrap-responsive
 *= require lib/bootstrap_and_overrides
 *= require lib/jquery-ui-1.8.20
 *= require lib/jqtree.css
 *= require app/scaffolds
 *= require app/buttons
 *= require app/designs
 *= require app/landing_page
 *= require app/upload
 *= require app/preview
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";


body {
  background: url('/assets/bg_top.gif') repeat transparent;
  font-family: 'Ubuntu', serif;
  line-height: 25px;
  overflow: auto;
}

h1 {
  color: #333;
  margin: 30px;
  font-family: 'Dancing Script', serif;
}

h2 {
  color: #333;
  font-family: 'Ubuntu Condensed', serif;
  text-align: center;
}


.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

small {
  font-size: 0.75em;
}

#header.navbar, #editor-header.navbar {
  font-family: 'Ubuntu Condensed', serif;
  font-size: 18px;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  
  .action {
    margin: 0px 10px;
    
    .back, .forward {
      margin: 10px;
    }
    
    .name {
      margin: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: #eee;
    }
  }
  

  .navbar-inner {
    height: 50px;
    background: #5f2f72 url("/assets/noise.png") repeat;
    border-bottom: 3px solid #431555;
    @include border-radius(0px);
  }

  .brand {
    padding: 15px 20px 2px 40px;
  }

  .nav {
    .active {
      a {
        @include box-shadow(rgba(41, 23, 37, 0.75) 6px 6px 6px inset, rgba(41, 23, 37, 0.75) -6px -6px 6px inset);
        background: none;
        padding: 16px 25px;
      }
    }
    
    .upload {
      padding-left: 45px;
      background: transparent url("/assets/upload.png") no-repeat 7px 12px;
    }
    
  }

  ul.nav {
    margin-left: 30px;

    li {
      a {
        padding: 16px 20px;
        color: #dcdcdc;

        text-shadow: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#footer {
  background: #322722 url("/assets/noise.png") repeat;
  border-top: 3px solid #231D1A;
  height: 50px;
  color: #C9B994;
}

#admin-content {
  position: absolute;
  top: 30%;
  left: 0;
  background: #fff;
  padding: 10px;
  width: 200px;
  text-align: center;
  a {
    margin: 10px;
    display: block;
  }
}

.ui-progressbar-value {
  background-image: url(/assets/pbar-ani.gif);
}
