/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lib/screen
 *= require lib/ie
 *= require lib/print
 *= require lib/bootstrap
 *= require lib/bootstrap-responsive
 *= require lib/bootstrap_and_overrides
 *= require lib/jquery-ui-1.8.20
 *= require app/buttons
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: url('bg-notepad.png') repeat transparent;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}

small {
  font-size: 0.75em;
}

#editor-header.navbar, #header.navbar {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  
  .navbar-inner {
    height: 57px;
    background: #5f2f72 url("/assets/noise.png") repeat;
    border-bottom: 3px solid #431555;
  }
  
  .brand {
    padding: 8px 20px 2px 40px;
  }

  .nav {
    .active {
      a {
        @include box-shadow(rgba(41, 23, 37, 0.75) 6px 6px 6px inset, rgba(41, 23, 37, 0.75) -6px -6px 6px inset);
        background: none;
        padding: 20px 25px;   
      }
    }
  }
  
  ul.nav {
    float: right;
    font-size: 16px;

    li {
      a {
        padding: 20px 30px;   
        color: #dcdcdc;

        text-shadow: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#landing-page {

  h1 {
    color: #333;
    margin: 30px;
    font-family: 'Dancing Script', serif;
  }
  
  h2 {
    color: #333;
  }

  img {
    margin-top: 30px;
  }
  
  .drop {
    background: #CEDEEB url("/assets/noise.png") repeat;
    @include border-radius(8px);
    border: 1px dotted #106AA3;
    width: 80%;
    min-height: 200px;  
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }
}

#designs-list-page {
  margin-top: 80px;
  
  h1 {
    text-align: center;
    margin: 20px 0px;
    font-family: 'Dancing Script', serif;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0 15px 0 0;
  }
  
  .design {
    background: #CEDEEB url("/assets/noise.png") repeat;;
    @include border-radius(8px);
    border: 1px solid #106AA3;
    box-shadow: inset 2px 2px 2px 2px #B2C7D5;
    padding: 20px 10px;
    margin: 10px 0px;
    
    .name {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.1em;
    }
  }
  
}

.ui-progressbar-value { background-image: url(/assets/pbar-ani.gif); }
  

