/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require lib/ie
 *= require lib/bootstrap
 *= require lib/bootstrap_and_overrides
 *= require lib/jquery-ui-1.10.0.custom
 *= require lib/jqtree
 *= require lib/avgrund
 *= require lib/bootstrap-editable
 *= require lib/jquery.Jcrop.min
 *= require lib/codemirror
 *= require lib/codemirror-theme
 *= require app/scaffolds
 *= require app/buttons
 *= require app/landing_page
 *= require app/upload
 *= require app/preview
 *= require app/images 
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";
@import "compass/css3/transform";

html, body {
  height: 100%;
  color: #333;
}

body {
  font-family: "Helvetica Neue", serif;
  font-size: 14px;
}

aside {
  display: none;
}

.btn {
  font-family: "museo-slab", serif;
}

h1, h2, h3, h4, h5 {
  font-family: "myriad-pro", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 75px;
  line-height: 1;
}

h2 {
  color: #333;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

small {
  font-size: 0.8em;
}

.navbar {
    a {
        float: none;
        padding: 10px 15px 10px;
        color: #555555;
        text-decoration: none;
        text-shadow: 0 1px 0 #ffffff;
      }

    a.login {
      color: #C44D58;
      font-weight: bold;
    }   

    .dropdown {
      padding-top: 10px;
    }

    .logo {
      padding-top: 8px;
    }
}

.top-menu {
  margin: 0px 10px 0px 10px;
  padding-top: 10px;
  height: 50px;

  .nav > li > a {
    &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 0px;
    a {
      color: #666;
      font-size: 16px;
    }
  }
}


#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}

#footer {
  margin-top: 60px;
  .copyright {
    padding-top: 10px;
  }
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 830px;
}

/* Main marketing message and sign up button */
.main-content {
  //@include background(image_url('/assets/blur-background.jpg'));
  background: #ffffff;
}
.message {
  padding: 45px;
  text-align: center;
  
  h1 {
    font-size: 72px;
    line-height: 1;
  }

  .lead {
    font-size: 25px;
    margin: 50px 10px;
    font-family: "museo-slab", serif;
  }

 #try-now {
    font-size: 30px;
    padding: 20px 30px;
  }
}




.features {
  padding: 30px 0px;
  margin-top: 25px;
  background: #f5f5f5;
  @include border-radius(20px);
  @include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset);


  .feature {
    text-align: center;
    font-size: 16px;
    color: #999;


    h3 {
      font-family: "museo-slab", serif;
      font-size: 22px;
      color: #666;
      padding: 10px 0px;
      font-weight: 300;
    }

    img {
      @include box-shadow(rgba(255,255,255,.5) 0 1px 0 inset, rgba(0,0,0,.25) 0 -2px 0 inset , rgba(255,255,255,0.2) 0 -3px 0 inset, rgba(0,0,0,.1) 0 1px 0);      
      border: 1px solid #bbb;
    }

    img.no-ps {
      background: #0b005e;
      border: 4px solid #d41c3b;
    }

    img.css3 {
     background: #c1d3e4;
     
    }

    img.scale {
      background: #2b9adf;
    }

    img.crop {
      background: #E15E32;
    }
  }
}

// Pricing page
#pricing {
  width: 900px;
  margin: 0 auto;
  
  font-size: 20px;
  margin-top: 50px;

  .plan {
    font-family: "museo-slab", serif;
    width: 250px;
    height: 450px;
    padding: 25px 15px;
    margin: 30px 5px;
    float: left;
    text-align: center;
    color: #6C6C6C;
    font-size: 20px;
    border: 1px solid #eee;
    @include border-radius(5px);

    div {
      padding: 20px;
    }

    .name {
      
      font-size: 28px;
      font-weight: bold;
      margin-left: 50px;
      margin-bottom: 25px;
      width: 100px;
      height: 100px;
      @include border-radius(100px);
      background: #7888A9;
      color: #eee;
      line-height: 90px;
    }

    .price {
      vertical-align: middle;
      padding: 50px 0px;
      color: #333;

      .value {
        font-size: 70px;
        font-weight: bold;
      }
    }

    .limit {
      margin-bottom: 25px;
    }
  }

  #popular {
    height: 500px;
    margin-top: 0px;
    padding-top: 55px;
    @include box-shadow(rgba(0, 0, 0, 0.67) 0 0 30px);
    .name {
      background: #C0D7F6;
      color: #333;
    }
  }

}

// FAQ page 
#faq {
  font-size: 16px;
  color: #999;
  li {
    line-height: 2em;
    margin-top: 30px;
  }

  strong {
    color: #333;
    font-size: 20px;
    font-family: "museo-slab", serif;

  }
}


#designs {
  #upload-area {
    font-family: "museo-slab", serif;
    font-size: 16px;
    
    .btn {
      font-size: 24px;
      padding-top: 20px;
      padding-bottom: 20px
    }

    #upload-design {
      margin: 30px 0px;
    }

    .instructions {
      padding: 20px 120px;
      ul {
        list-style: none;
        li {
          margin: 10px;
        }
      }
    }
  }

  #designs-area {
    text-align: center;
    .design {
      margin: 20px 0px;
      .name {
        font-family: "museo-slab", serif;
        font-size: 14px;
        padding: 10px 0px;
      }
      
      .thumbnail {
         margin: 0 auto;
         height: 150px;
         width: 150px;
         background-repeat: no-repeat;
       }
    }
  }
}