/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require lib/screen.scss
 *= require lib/ie.scss
 *= require lib/print.scss
 *= require lib/bootstrap
 *= require lib/bootstrap-responsive
 *= require lib/bootstrap_and_overrides
 *= require_self
*/

@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/utilities";

body {
  background: url('background-tile.png') repeat transparent;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}

#header.navbar {
  margin-bottom: 50px;
  height: 60px;
  min-height: 60px;
  
  .navbar-inner {
    @include background(linear-gradient(top left, #efefef, #ffffff));
  }
  
  .brand {
    padding: 4px 20px 2px 20px;
  }

  .nav {
    .active {
      a {
        @include background(linear-gradient(top left, #333, #222));
        color: #ffffff;
      }
    }
  }
  
  ul.nav {
    margin: 0 20px 0 0;
    li {
      a {
        color: #333;
        text-shadow: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#landing-page {

  h1 {
    color: #666666;
    margin: 30px;
  }
  
  h2 {
    color: #333;
  }

  img {
    margin-top: 30px;
  }
  
  .drop {
    background-color: #cbabd7;
    @include border-radius(8px);
    border: 1px dashed #E1E1E8;
    width: 80%;
    min-height: 200px;
    margin-bottom: 100px;
  }

  input[type="file"] {
    background-color: #d9d9d9;
    height: 40px;
  }
}

#designs-list-page {
  margin-top: 80px;
  
  h1 {
    text-align: center;
    margin: 20px 0px;
  }
  
  ul {
    list-style-type: none;
    padding: 0 15px 0 0;
  }
  .design {
    background-color: #cbabd7;
    @include border-radius(8px);
    border: 1px dashed #E1E1E8;
    padding: 20px 10px;
    margin: 10px 0px;
  }
  
}
  

