body {
  padding:0;
  
  .usage-info {
    margin:0 auto;
    margin-left:40%;
    display: inline-block;
    
    .msg {
      
    }
  }
    
  .editor-controls {
    min-height:40px;
    
    h1 {
      font-size:15px;
    }
    
    .edit-tags {
      
      form {
        text-align: center;
        
        .tag-switch-block,
        .xpath-block
        {
          display: inline-block;
          width:250px;
          margin: 0 auto;
        }
        
        
        #item-xpath {
          border:1px solid #aaa;
          width:200px;
          padding:2px;
          display:inline-block;
        }
      }
    }
  }
  
  
  .editor-iframe {
    border:1px solid #000;
  }
  

}
