body {
  padding:0;
  
  .usage-info {
    margin:0 auto;
    margin-left:40%;
    display: inline-block;
    
    .msg {
      
    }
  }
    
  .editor-controls {
    min-height:40px;
    
    h1 {
      font-size:15px;
    }
  }
  
  
  .editor-iframe {
    border:1px solid #000;
  }
  

}
