// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action-button {
padding: 10px;
color: white;
font-weight: bolder;
font-size: 120%;
border: #ff8f45 2px solid;
background-image: linear-gradient(bottom, rgb(255,144,9) 50%, rgb(255,171,68) 71%);
background-image: -o-linear-gradient(bottom, rgb(255,144,9) 50%, rgb(255,171,68) 71%);
background-image: -moz-linear-gradient(bottom, rgb(255,144,9) 50%, rgb(255,171,68) 71%);
background-image: -webkit-linear-gradient(bottom, rgb(255,144,9) 50%, rgb(255,171,68) 71%);
background-image: -ms-linear-gradient(bottom, rgb(255,144,9) 50%, rgb(255,171,68) 71%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.5, rgb(255,144,9)),
	color-stop(0.71, rgb(255,171,68))
);
}

.action-button:hover {
background-image: linear-gradient(bottom, rgb(255,171,68) 50%, rgb(255,144,9) 71%);
background-image: -o-linear-gradient(bottom, rgb(255,171,68) 50%, rgb(255,144,9) 71%);
background-image: -moz-linear-gradient(bottom, rgb(255,171,68) 50%, rgb(255,144,9) 71%);
background-image: -webkit-linear-gradient(bottom, rgb(255,171,68) 50%, rgb(255,144,9) 71%);
background-image: -ms-linear-gradient(bottom, rgb(255,171,68) 50%, rgb(255,144,9) 71%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.5, rgb(255,171,68)),
	color-stop(0.71, rgb(255,144,9))
);
}

.prefilled-field {
color: #aaa;
font-size: 120%;
padding: 10px;
}

.content-area {
background-color: rgba(0, 0, 0, 0.5);
padding: 25px;
border-radius: 10px;
margin: 50px 150px 50px 150px;
-webkit-box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
box-shadow: 2px 3px 1px 1px rgba(40, 40, 40, .8);
}

.content-area h2 {
padding-bottom: 20px;
}

.error {
color: red
}
