<div class="normal-login">
  <form>
    Email:<br/>
    <input name="email" class="prefilled-field default-value" id="invite-email" value="email@address.com"/> <br/>
    Password:<br/>
    <input type="password" name="password" class="prefilled-field default-value" id="invite-email" value="******"/>
  </form>
</div>