<div class="request-invite-block">
  <form id="getinvite" action="getinvite" method="POST">
    <input name="email" class="prefilled-field default-value" id="invite-email" value="email@address.com"/><br/>
    <input type="submit" class="action-button" value="Request Invite Now!"/>
    <div id="validation-result" class="error"></div>
  </form>
</div>