<div class="center alt-login">
  <div class="col2 center">
    <div class="section-heading">Request Invite</div>
    <%= render 'login/widgets/request_invite.html.erb' %>
  </div>
  <div class="col1 center">
    <div class="section-heading">Login</div>
    <%= render 'login/widgets/normal_login.html.erb' %>
  </div>
</div>